
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 32px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 12px;
}
.main_logo {
  width: 200px;
  padding: 20px;
  margin-top: 30px;
}
.hero_text h2 {
 
  padding: 20px;
  text-align: center;
  /* font-size: 35px!important; */
  margin-bottom: 20px;
}
input {
  border: 0!important;
  border-bottom: 2px solid #ddd!important;
  border-radius: 0!important;
  padding: 20px!important;
  font-size: 15px!important;
}
button.btn.btn-primary {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 21px;
  margin-top: 30px;
}
button.btn.btn-primary:hover{
  background-color: #fff!important;
  border-color: #0a53be;
  color: #0a53be;

}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.btn.btn-primary:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.right_side{
  margin-top: 31px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
}
.already {
  margin-top: 100px;
}
.sheet_person{
  width: 50px;
  overflow: hidden;
  z-index: -1;
}
input:-internal-autofill-selected{
  background-color: none!important;
}
.main_logo{

}
h2.text-center.at-info {
  background: #0a53be!important;
  color: white;
  width: 66%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px!important;
}
span{
  color: rgba(0, 0, 0, 0.745);
  float: left;
  font-size: 10px;
}
/* responsiveness */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  h2.big_text{
    padding-top: 10px!important;
  }
  h2.text-center.at-info{
    font-size: 20px;
    padding: 10px 30px;
  }
 }
